version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    pull_policy: build
    ports:
      - "30222:80"
    environment:
      - PYTHONUNBUFFERED=1
    #restart: always
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:80/"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3
    #   start_period: 40s
